#!/usr/bin/env bash

export CUR_DIR=$(realpath $(dirname $0))

export NVM_DIR="${CUR_DIR}/.nvm"
[ -d $NVM_DIR ] || (mkdir $NVM_DIR && curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash)
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -d $NVM_DIR/versions ] || nvm install
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
