name: release

on:
  push:
    tags:
      - "*"

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: zip -r mpb.zip dist/
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: mpb.zip